<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- HEADER -->
        <div class="card-header">
          <!-- Dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary" id="aircraftDropdown"ngbDropdownToggle>SELECT AIRCRAFT</button>
                <div ngbDropdownMenu aria-labelledby="aircraftDropdown">
                  <ul class="dropdownlist">
                    <li *ngFor="let aircraft of aircrafts" class="selected">
                      <label class="">
                        <input type="checkbox" value="aircraft" checked="checked" (click)="filterAircraft($event, aircraft)"/>
                        <span class="dp_item">{{ aircraft }}</span>
                      </label>
                    </li>
                    <li *ngIf="aircrafts.length == 0" class="ms-no-results">
                      No aircrafts found
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="calendar-container">
              <span class="calendar-today">{{ date | date: "dd" }}</span>
              <img
                class="calendar-icon"
                src="https://raw.githubusercontent.com/nasascience/angular-flights/master/src/assets/images/calendar.png"
              />
            </div>
          </div>
        </div>
        <!-- BODY -->
        <div class="card-body">
          <div class="flights-body">
            <!-- AIRCRAFT REG -->
            <div class="aircraft-reg-col">
              <div class="aircraft-reg-container">
                <div *ngFor="let aircrafReg of selectedAircrafts" class="aircraft-reg-item">
                  <span class="aircraft-reg-name">{{ aircrafReg }}</span>
                </div>
              </div>
            </div>

            <!-- FLIGHTS DATA -->
            <div class="aircraft-flights-col">
              <div *ngIf="selectedFlightsData" class="aircraft-flights-table">
                <div class="flight-date-row">
                  <div *ngFor="let flightDate of flightDates" class="flight-date-col {{flightDate | date: 'yyyy-MM-dd'}}" [ngStyle]="{'width.px':initColWidth}"> {{ flightDate | date: "dd-MM-yyyy" }}</div>
                </div>
                 <!-- FLIGHT ROWS BASED ON AIRCRAFT COUNT -->
                <div *ngFor="let flightData of selectedFlightsData" class="flight-row" [attr.data-aircraftReg]="flightData.aircraftReg">
                    <!-- FLIGHT COLUMNS BASED ON DATES -->
                    <div *ngFor="let c of [].constructor(flightDates.length)"class="flight-col" [ngStyle]="getFlightColStyle()"></div>

                      <!--FLIGHT DURATION-->
                    <app-flight-duration *ngFor="let flight of flightData.data; let idx = index" [index]="idx"
                    [flight]="flight" [aircraftReg]="flightData.aircraftReg" [initColWidth]="initColWidth"
                    [aircraftColWidth]="aircraftColWidth" [flightDataLength]="flightData.data.length"></app-flight-duration>

                  <!-- <div *ngIf="inx == 0" class="flight-maintenance"></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="card-footer text-muted">
          <div class="zoom-range">
            <!-- <span class="fas fa-undo zoom-reset-btn" (click)="resetZoom()"></span> -->
            <span class="material-icons zoom-reset-btn" (click)="resetZoom()">cached</span>
            <span class="material-icons zoom-minus-btn" (click)="zoomOut()">zoom_out</span>
            <input style="width: 150px" type="range" class="custom-range" min="84" max="550" [(ngModel)]="initColWidth"/>
            <span class="material-icons zoom-plus-btn" (click)="zoomIn()">zoom_in</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
