<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- Dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary" id="aircraftDropdown" ngbDropdownToggle>SELECT AIRCRAFT</button>
                <div ngbDropdownMenu aria-labelledby="aircraftDropdown">
                  <ul class="dropdownlist">
                    <!-- <li class="ms-select-all selected">
                      <label (click)="toggleAllCheckboxes()">
                        <input id="all_checkboxes" type="checkbox" data-name="selectAll" checked="checked"><span class="dp_item">[Select all]</span>
                      </label>
                    </li> -->
                    <li *ngFor="let aircraft of aircrafts;" class="selected">
                      <label class="">
                        <input type="checkbox" value="aircraft" checked="checked" (click)="filterAircraft(aircraft)">
                        <span class="dp_item">{{aircraft}}</span>
                      </label>
                    </li>
                    <li *ngIf="aircrafts.length == 0" class="ms-no-results">No aircrafts found</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="calendar-container">
              <span class="calendar-today">25</span>
              <img class="calendar-icon" src="../../../assets/images/calendar.png">
            </div>

          </div>

        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
