$grid-height: 44px;
$grid-width: 169px;

.card-body{
  padding: 0; overflow: auto;
}

.dropdownlist {
  padding-left: 20px;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
}

.dp_item {
  margin-left: 10px;
}

.calendar-container {
  width: 40px;
  text-align: center;
  margin-right: 20px;
}

.calendar-today {
  position: absolute;
  top: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: #707070;
}

.calendar-icon {
  width: 100%;
}

.zoom-range {
  width: 250px;
  float: right;
  text-align: center;
}

.zoom-minus-btn {
  cursor: pointer;
  margin-top: 1px;
  float: left;
}

.zoom-plus-btn {
  cursor: pointer;
  margin-top: 1px;
  float: right;
}

.zoom-reset-btn{
  cursor: pointer;
  margin-top: 1px;
  float: left;
  margin-left: 20px;
  margin-right: 7px;

}

.flights-body {
  position: relative;
  padding: 0;
  // height: 225px;
  width: 100%;
}

.aircraft-header-col {
  height: 28px;
  width: $grid-width;
  border: 1px solid black;
}

.aircraft-reg-col {
  position: absolute;
  width: $grid-width;
  display: inline-block;
  height: 100%;
  border-right: 1px solid grey;
}

.aircraft-flights-col {
  display: inline-block;
  margin-left: $grid-width;
  width: calc(100% - #{$grid-width});
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.aircraft-reg-container {
  margin-top: 28px;
  // height: 177px;
  border-bottom: 1px solid gray;
}

.aircraft-reg-item {
  position: relative;
  text-align: center;
  height: $grid-height;
  line-height: $grid-height;
  border-top: 1px solid gray;
}

.aircraft-reg-name {
  position: absolute;
  left: 0;
  right: 0;
}

.flight-date-row {
  height: 29px;
  width: max-content;
}

.flight-date-col {
  width: $grid-width;
  border: 1px solid #656565;
  display: inline-block;
  height: 100%;
  margin-left: -1px;
  text-align: center;
  border-top: none;
}

.flight-row {
  position: relative;
  height: $grid-height;
  width: max-content;
}

.flight-col {
  width: $grid-width;
  border: 1px solid #656565;
  display: inline-block;
  height: 100%;
  margin-left: -1px;
  text-align: center;
  border-top: none;
  background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 7px 7px;
}

.flight-maintenance{
  position: absolute;
  height: 43px;
  width: 7px;
  top: 0;
  left: 0;
  background: #ea47478c;
  border-left: 1px solid #ad2525;
  border-right: 1px solid #ad2525;
  z-index: 1;
}
